name: Python Tests

on:
  push:
    branches:
      - master
      - develop
      - 'copilot/*'
  pull_request:
    branches:
      - master
      - develop
      - 'copilot/*'

jobs:
  test:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[release]') || contains(github.event.head_commit.message, '[major]')
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[dev,exp]" # Installs the package in editable mode with dev dependencies
        python -m spacy download en_core_web_sm # Download spaCy model
        ahvn setup -r # Initializes ahvn config

    - name: Run Pytest (unit tests)
      run: |
        pytest